<a href="https://colab.research.google.com/github/MichalJagielo/DataScience_ExercisesPractice_Python/blob/main/02_pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
pd.__version__
import numpy as np

In [2]:
###### pd.Series
s = pd.Series(data=[3,2,4,6,7])
s

0    3
1    2
2    4
3    6
4    7
dtype: int64

In [8]:
s = pd.Series(data=[3,2.,4,6,7], index=['a', 'b', 'c', 'd', 'e'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
e    7.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[3,np.nan,4,6,7], index=['a', 'b', 'c', 'd', 'e'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
e    7.0
Name: sample, dtype: float64

In [11]:
s = pd.Series([True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [19]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s
s.index
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [21]:
s = pd.Series(data=['ffff','gggg','hhhh'])
s
s.index

RangeIndex(start=0, stop=3, step=1)

In [22]:
s.values

array(['ffff', 'gggg', 'hhhh'], dtype=object)

In [24]:
s.dtypes
s.shape

(3,)

In [34]:
price = pd.Series(data={'apple':200, 'cd project': 60, 'amazon': 1900, 'kghm':np.nan})
price

apple          200.0
cd project      60.0
amazon        1900.0
kghm             NaN
dtype: float64

In [27]:
price['cd project']
price[1]

60

In [37]:
price.count()
price.value_counts()
price.sum()
price.min()
price.std()
price.describe()
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [44]:
price.nlargest(2)
price.nsmallest(3)
price.rank()
price.sort_values()
price.sort_values(ascending=False)

amazon        1900.0
apple          200.0
cd project      60.0
kghm             NaN
dtype: float64

In [47]:
price_pln=price.apply(lambda x:x*3.8)

In [48]:
price_pln

apple          760.0
cd project     228.0
amazon        7220.0
kghm             NaN
dtype: float64

In [49]:
#### df.DataFrame
df = pd.DataFrame(data=[12,13,14,15])
df

    0
0  12
1  13
2  14
3  15

In [51]:
df = pd.DataFrame(data=[12,13,14,15], index=['first', 'second', 'third','fourth'], columns=['col_1'])
df

        col_1
first      12
second     13
third      14
fourth     15

In [52]:
df = pd.DataFrame(data={'WIG20':['pkn orlen', 'pko bp'], 'mIG40': ['amica', 'playway']})
df

       WIG20    mIG40
0  pkn orlen    amica
1     pko bp  playway

In [55]:
df = pd.DataFrame(data=[[12,13,14,15],[16,17,18,19]], index=['first', 'second'], columns=['col_1','col_2','col_3','col_4'])
df

        col_1  col_2  col_3  col_4
first      12     13     14     15
second     16     17     18     19

In [64]:
df.columns
df.index
df.values
df.info()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
 3   col_4   2 non-null      int64
dtypes: int64(4)
memory usage: 160.0+ bytes

       count  mean       std   min   25%   50%   75%   max
col_1    2.0  14.0  2.828427  12.0  13.0  14.0  15.0  16.0
col_2    2.0  15.0  2.828427  13.0  14.0  15.0  16.0  17.0
col_3    2.0  16.0  2.828427  14.0  15.0  16.0  17.0  18.0
col_4    2.0  17.0  2.828427  15.0  16.0  17.0  18.0  19.0

In [66]:
df['col_1']
type(df['col_1'])

pandas.core.series.Series

In [69]:
df[['col_1']]
# type(df[['col_1']])

        col_1
first      12
second     16

In [75]:
df.columns = ['a','sprzedaz_grudzien','c','d']
df

         a  sprzedaz_grudzien   c   d
first   12                 13  14  15
second  16                 17  18  19

In [76]:
df.sprzedaz_grudzien
df

         a  sprzedaz_grudzien   c   d
first   12                 13  14  15
second  16                 17  18  19

In [78]:
df['e'] = df.a + df.d
df

         a  sprzedaz_grudzien   c   d   e
first   12                 13  14  15  27
second  16                 17  18  19  35

In [79]:
df = pd.DataFrame(data=[[12,13,14,15],[16,17,18,19]], index=['first', 'second'], columns=['col_1','col_2','col_3','col_4'])
df

        col_1  col_2  col_3  col_4
first      12     13     14     15
second     16     17     18     19

In [81]:
df.loc['first']
df.iloc[0]

col_1    12
col_2    13
col_3    14
col_4    15
Name: first, dtype: int64

In [84]:
df.loc['first', 'col_2']
df.iloc[0,1]

13

In [85]:
df.loc[:,'col_2']

first     13
second    17
Name: col_2, dtype: int64