<a href="https://colab.research.google.com/github/MichalJagielo/DataScience_ExercisesPractice_Python/blob/main/02_pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Case Study continue

In [1]:
import pandas as pd
import numpy as np

In [ ]:
def fetch_financial_data(company='UBER'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df['Average'] = (df.Open + df.Close) / 2
df['Close_shift'] = df[['Close']].shift(1)
df['Daily_chage'] = (df.Close / df.Close_shift - 1)
df

In [ ]:
df_positive = df[df.Daily_chage > 0]
df_positive

In [ ]:
df_positive.Daily_chage.mean()*100

In [ ]:
df_negative = df[df.Daily_chage < 0]
df_negative
df_negative.Daily_chage.mean() * 100

In [ ]:
df[df.Close == df.Low]

In [ ]:
df[df.index > '2020-11-01']

In [ ]:
df[(df.index >= '2020-11-01')&(df.index < '2020-11-20')]

In [ ]:
df[(df.index == '2020-11-03')|(df.index == '2020-11-10')]

In [ ]:
df

In [ ]:
df[df.index.month == 5]

In [ ]:
df[df.index.day == 2]

In [ ]:
df = fetch_financial_data('FB')
df.head()

In [59]:
df.to_csv('fb.csv')

In [89]:
import sqlite3
data = pd.read_csv('fb.csv', sep=',')
conn = sqlite3.connect('fbdb.db')
conn.execute("DROP TABLE IF EXISTS fbdatainfo")
conn.execute("CREATE TABLE IF NOT EXISTS 'fbdatainfo' (id integer primary key autoincrement, date timestamp, open real, high real, low real, close real, volume int)")
data.to_sql(name='fbdatainfo', con=conn, if_exists='append', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_nov = df[(df.index.month == 11)&(df.index.year == 2019)]
df_nov

In [65]:
df_nov.to_json('fb_nov.json')

In [ ]:
df_nov.to_excel('fb_nov.xlsx')
new_df = pd.read_excel('fb_nov.xlsx', index_col=0)
new_df

# *London Bike*

In [ ]:
### London Bike
df = pd.read_csv('london_bike.csv')   ###index_col='timestamp'
df.head()
df.info()

In [100]:
# df = df.set_index('timestamp')
# df.info()

# ***DataFrame concat***

In [104]:
def fetch_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_data('AAPL')
amazon = fetch_data('AMZN')
google = fetch_data('GOOGL')
uber = fetch_data('UBER')

In [ ]:
apple.info()
uber.info()

In [ ]:
apple.head()
uber.head()

In [109]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [ ]:
apple.head()

In [ ]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df.head()

In [ ]:
pd.set_option('display.float_format',lambda x: f'{x:.2f}')
df.describe().T

In [ ]:
df.corr()

In [121]:
closes = [col for col in df.columns if col.endswith('close')]
closes
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.95          0.95        0.55
amazon_close         0.95          1.00          0.88        0.58
google_close         0.95          0.88          1.00        0.53
uber_close           0.55          0.58          0.53        1.00

In [124]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
df[closes].corr()

               apple_close  apple_volume  ...  uber_close  uber_volume
apple_close           1.00         -0.17  ...        0.55         0.01
apple_volume         -0.17          1.00  ...       -0.45         0.31
amazon_close          0.95         -0.12  ...        0.58        -0.06
amazon_volume        -0.16          0.57  ...       -0.28         0.25
google_close          0.95         -0.26  ...        0.53         0.01
google_volume        -0.12          0.52  ...       -0.21         0.29
uber_close            0.55         -0.45  ...        1.00        -0.21
uber_volume           0.01          0.31  ...       -0.21         1.00

[8 rows x 8 columns]

In [126]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-01-11      42.36      44.17     42.19       43.62     22160976
2022-01-10      41.48      42.81     40.16       42.60     29783757
2022-01-07      42.00      42.65     41.20       41.51     24875831
2022-01-06      43.11      44.08     40.97       42.03     32434252
2022-01-05      44.29      45.90     42.86       43.24     28498663

In [ ]:
uber_6 = uber[uber.index.month == 6]
uber_6
uber_7 = uber[uber.index.month == 7]
uber_7

In [131]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[129 rows x 5 columns]